{% extends "layout-no-left.twig" %}

{% block header %}
    {{ parent() }}
    <link type="text/css" href="{{ s3Endpoint }}/static/css/landing.css" rel="stylesheet">
{% endblock header %}

{% block content %}

<div id="content">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> Error 500</h1>
                        <h2 class="font-xl"><strong>Oooops, Something went wrong!</strong></h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
</div>

{% endblock %}

{% block page_script %}
    <script type="text/javascript">
        $(document).ready(function () {



        });
    </script>
{% endblock %}