{% if not no_footer %}
<div class="page-footer">
    {% if not extr_page %}
        <div class="row text-center">
                <span >Synctree Studio V2.1<span class="hidden-xs"></span> © Ntuple since 2018</span>
        </div>
    {% endif %}
</div>
{% endif %}