{% set no_footer = true %}
{% extends "layout-no-left.twig" %}
{% block inc_css %}
<link rel="stylesheet" type="text/css" media="screen" href="/htdocs/css/signin.css">
<style>
.auth-wrapper {
	overflow: auto;
	width: 1274px;
}
</style>
{% endblock %}
{% block content %}
<body>
	<div id="headers"></div>
	<div id="container">
	<div class="outer">
		<div class="inner">
			<div class="title">
				<img src="/htdocs/img/title@3x.png" alt="Synctree Studio Ver Image" />
			</div>
			<div class="auth-wrapper">
				<div class="section">
					<p align="middle">
							{# youtube player 크기 조정 필요 #}
						<iframe id="ytplayer" type="text/html"
										src="//www.youtube.com/embed/TPbKyD2bAR4?autoplay=1&origin={{ domain }}"
										frameborder="0">
						</iframe>
					</p>
				</div>
				{% block content_inner %}{% endblock %}
			</div>
		</div>
	</div> 
	</div>
	<div id="footer">
		<p class="office">Synctree Studio V2.1 © Ntuple since 2018</p>
	</div>

	<div class="modal fade in" id="modal-forget" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class='modal-content'>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title"><i class="fa fa-lg fa-fw fa-puzzle-piece"></i> <span id="">Forgot Password</span> </h4>
				</div>
				<div class="modal-body">
					<form class="smart-form" method="post" action="/auth/forget">
						<p class="text-primary">Write your company name will send your password to your company's email.</p>
						<section>
							<label class="label">Company Name</label>
							<label class="input">
								<input type="text" name="company-name" required="required" maxlength="30"/>
							</label>
						</section>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i> {{ dictionary.button.close }}</button>
					<button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> {{ dictionary["button"]["submit"] }}</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div>
</body>
{% endblock content %}


