{% set client_request = true %}
<div class="modal fade in" id="modal_biz_basic_set" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"><i class="fa fa-lg fa-fw fa-exchange"></i> Set Client Flow Info</h4>
            </div>
            <div class="modal-body">
                <div class="widget-body no-padding">

                    <form class="smart-form" id="form_biz_prop" name="form_biz_prop" method="post" action="/console/apps/bunit/modifyCallback">
                        <fieldset>
                            {% include '/console/inc/bunit-form-field.twig' %}
                        </fieldset>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                {#<button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-save"></i> {{ dictionary.button.save }}</button>#}
                <button type="button" id="btn_set_basic" class="btn btn-primary"><i class="fa fa-plus"></i> {{ dictionary.button.save }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

