<label class="select hide">
	<select name="req_op_value[]" {% if type is defined and is_partner == 'partner'  %}onFocus='this.initialSelect = this.selectedIndex;' onChange='this.selectedIndex = this.initialSelect;' {% endif %}></select>
</label>